*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.logo-size{
    height: 50px;
    width: 50px;
}

.name-brand{
    display: inline;
}

#container-central{
    height: 700px;
    margin: 50px 500px 50px 500px;

}

.container-header{
    padding: 20px;
    font-size: 30px;

}

.bottom-1{
    background-color: rgb(13, 217, 253);
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.bottom-2{
   
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(177, 115, 115);
    border-color: rgb(177, 115, 115); ;
}