*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    background-color: lightgrey;
}

/* Building Header */
.logo-size{
    height: 50px;
    width: 50px;
    vertical-align: bottom;
}

.color-background-header{
    background-color: white;
}

.name-brand{
    display: inline;
    background-color: white;
    font-size: 50px;
}

/* Section-1-main: Building bottom header */
#container-central{
    height: 700px;
    margin: 50px 400px 50px 400px;
    background-color: white;

}

.container-header{
    padding: 20px;
    font-size: 30px;
    border-bottom: 5px solid lightgray;
    background-color: white;

}

.bottom-1{
    background-color: rgb(13, 217, 253);
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px 10px 10px 20px;
}

.bottom-2{
    margin: 10px 0px 10px 20px;
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(177, 115, 115);
    border-color: rgb(177, 115, 115); ;
}

/* Section-2 */

.symbol-check{
    height: 30px;
    width: 30px;
    color: green;
    border:1px solid green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.title-text{
    font-size: 2rem;
}

.sub-titol{
    font-size: 1.5rem;
}

.divided-section{
    margin-bottom: 50px;
}

/* Color-buttom-in-section*/
.button-editorial-section{
    color: white;
    background-color: aqua;
    height: 1.5rem;
    width: 4.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 3rem;
}

.button-goal-section{
    color: white;
    background-color: rgb(164, 0, 240);
    height: 1.5rem;
    width: 4.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 3rem;
}