*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.logo-size{
    height: 50px;
    width: 50px;
}

.name-brand{
    display: inline;
}

#container-central{
    height: 700px;
    margin: 50px 500px 50px 500px;
}